<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ankutt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Ankutt.Properties.Settings>
            <setting name="MinSleepTimeMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxSleepTimeMinutes" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>Ankutt.log</value>
            </setting>
            <setting name="UrlFilePath" serializeAs="String">
                <value>resources\lists\urls.txt</value>
            </setting>
            <setting name="GoogleSearchStrings" serializeAs="String">
                <value>resources\lists\google_this.txt</value>
            </setting>
            <setting name="ErrorMessageFilePath" serializeAs="String">
                <value>resources\lists\error_messages.txt</value>
            </setting>
        </Ankutt.Properties.Settings>
    </userSettings>
</configuration>